<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.sidiff.revision.editrules.project.rulebase">
      <rulebase
            name="example.deterministic.finite.automaton.editrules"
            document-type="http://www.example.org/dfamodel"
            folder="editrules">
      </rulebase>
   </extension>

</plugin>
